
@{
    Model.Entities.Manager manag = ViewBag.Manager as Model.Entities.Manager;
    ViewData["Title"] = "AboutUs";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <!--  Meta  -->
    <meta charset="UTF-8" />
    <title>About Us</title>


    <!--  Styles  -->
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .team {
            font-family: "Montserrat";
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
            max-width: 1200px;
            grid-gap: 20px;
            margin: 0px auto;
            justify-items: center;
            align-items: center;
        }

        .title h2 {
            font-size: 1.8rem;
        }

        .team-member {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
        }

            .team-member img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .bio {
            display: none;
        }

        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.5);
            color: white;
            font-size: 1.5rem;
            opacity: 0;
            transition: all 0.3s ease;
            cursor: pointer;
        }


            .overlay h3 {
                padding: 0px 5px;
            }

            .overlay:hover {
                opacity: 100%;
            }

        #modal {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            top: 0;
            justify-content: center;
            align-items: center;
            font-family: "Montserrat";
            display: none;
        }

        #modal-content {
            width: 500px;
            max-height: 600px;
            background-color: white;
            border-radius: 5px;
            padding: 40px;
            overflow: auto;
            line-height: 1.5rem;
            margin: 0 20px;
            position: relative;
        }

            #modal-content h3 {
                margin-bottom: 10px;
            }

            #modal-content img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                display: block;
                float: left;
                padding: 0px 18px 10px 0px;
                border-radius: 50%;
            }

            #modal-content::-webkit-scrollbar {
                width: 0 !important;
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;
            }

            #modal-content p {
                margin: 0;
            }

                #modal-content p + p {
                    margin-top: 1rem;
                }

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 2.25rem;
            transform: rotate(45deg);
            cursor: pointer;
            color: #929292;
            transition: all 0.2s ease;
        }

            .close:hover {
                color: rgb(0,0,0);
            }

        .fill {
            height: 400px
        }
    </style>
</head>

<body>

    <div class="team">
        <div class="title"><h2>AcarSoft Commissers</h2></div>
        <div class="team-member">
            <img src="~/pictures/Founder.jpg" alt="" />
            <div class="overlay">
                <h3>Ozan Can ACAR</h3>
            </div>


            <div class="bio">
                <h5>
                    CEO & Founder & Head Engineer
                </h5>
                <p>
                    I wasn't always the big founder of AcarSoft, i once started as a simple baby, born in 1994. After i finished my education, i started working as a software engineer. I collected experience about most of the software areas; Desktop, Web, Frameworks, Databases... When i was ready to found AcarSoft, i gathered my best friends; Melek, Ali and Kuzgun. Now together, we are offering you the greatest software products!
                </p>

            </div>

        </div>
        <div class="team-member">
            <div class="overlay">
                <h3>Melek Nehir DEMIR</h3>
            </div>

            <img src="~/pictures/software engineer.jpg" alt="" />
            <div class="bio">
                <h5>
                    Software Engineer
                </h5>
                <p>
                    It was so strange,that when i was working as a simple software engineer, my friend came up to me with some idea. He said that i was a successful software engineer, and wanted me to work in AcarSoft(when it was not yet founded)! Now all together, we are producing the best & qualified & reliable software!
                </p>
                <p>
                    I was born in Ankara, in 1996. I have been in Ankara until i graduated from high school. Then, i earned to privilage to educate in ITU, Istanbul. After I graduated from ITU, Software Engineering. I was mostly thinking about making experience, but what experience is there to work in our own corporation?
                </p>

            </div>

        </div>
        <div class="team-member">
            <div class="overlay">
                <h3>Ali Rıza OZARSLAN</h3>
            </div>

            <img src="~/pictures/design engineer.jpg" alt="" />
            <div class="bio">
                <h5>
                    Chief Designer
                </h5>

                <p>
                    Your regular old guy; at least this is what my collegues call me :) i love my team, these little guys inspire me, and give me hope greatly! You know i am an old guy and, that i worked in many companies. But trust me, these guys are a whole different level! Love my corporation, inspire from my corporation. And finally, i produce the greatest software designs.
                </p>
                <p>
                    I was born in Corum, in 1958. My father was a shepherd in our village. My mom was taking care of us 4 children, but she also loved to draw. Although she was a simple villager, i always loved her drawings, they were great! She was pure of talent. In high school, i decided to study in technical high school, in arts department. So, yes...  I am a high school graduate. I didn't graduate from university. But who cares? Man's worth is his work they say, don't you agree?
                </p>
            </div>

        </div>
        <div class="team-member">
            <div class="overlay">
                <h3>Kuzgun Kasım ACAR</h3>
            </div>

            <img src="~/pictures/client consultant.jpg" alt="" style="object-position: 50% 10%;" />
            <div class="bio">
                <p>
                    Here we are, big brother (i mean Ozan LOL). What can i say... I cannot believe that my big bro was so successful; even in his job as a software engineer and also being the CEO of one of the greatest software companies there is. I will make you proud, brother.
                </p>
                <p>
                    I was born in Ankara, in 1997. Until i graduated from high school, i was in Ankara. It was then, i met with Melek. She decided to study in ITU, while my passion was the human communication. What can i say, after all, we are human beings and we gotta communicate, right? I studied abroad, in U.K., the client consultancy. And my big bro didn't spend me out!
                </p>
            </div>

        </div>



    </div>
    <div id="modal">
        <div id="modal-content">
            <div class="close">+</div>
            <img src="https://higherlogicdownload.s3.amazonaws.com/MAGNETLEARNINGCOMMUNITY/ca7e2a4d-1b73-4600-bc83-cdf3bbcad440/UploadedImages/PTAP%20Images/angelica-jackson.jpg" alt="">
            <h3>Ozan Can Acar</h3>
            <div class="modal-bio">
                <p>

                </p>
            </div>
        </div>
    </div>
    <div class="fill">
    </div>
    <script src="~/lib/jquery/dist/index.min.js"></script>
    <script>
        const teamMembers = document.getElementsByClassName("team-member");
        const close = document.getElementsByClassName("close")[0];
        const modal = document.getElementById("modal");
        const modalContent = document.getElementById("modal-content");
        Array.from(teamMembers).forEach(member => member.addEventListener('click', openModal));

        function openModal(e) {
            const target = (e.target.tagName === "H3") ? e.target.parentNode.parentNode : e.target.parentNode;
            const name = target.getElementsByTagName("H3")[0].innerText;
            const img = target.getElementsByTagName("IMG")[0].src;
            const bio = target.getElementsByClassName("bio")[0].innerHTML;
            modalContent.getElementsByTagName("IMG")[0].src = img;
            modalContent.getElementsByTagName("H3")[0].innerText = name;
            modalContent.getElementsByClassName("modal-bio")[0].innerHTML = bio;
            modalContent.getElementsByTagName("IMG")[0].style.objectPosition = target.getElementsByTagName("IMG")[0].style.objectPosition;
            modal.style.display = "flex";
        }

        close.addEventListener("click", (e) => {
            modal.style.display = "none";
        })

        window.addEventListener('click', (e) => {
            if (e.target == modal) {
                modal.style.display = "none";
            }
        })
    </script>
</body>

</html>


